.header {
    background-color: rgb(75, 196, 27);
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  .stroke {
    color: black; 
    -webkit-text-stroke: 2px #4bc41b;
  }

  .nav-link {
    background-color: white;
    transition: background-color 1s ease-in-out;
  }

  .nav-link.active {
    color: #4cc41c !important;
  }
  
  .nav-link:hover {
    animation: move 2s;
    background-color:  #4cc41c
  }

  .h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .inner-container {
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px  8px hsl(103, 75%, 44%);
  }

  .inner-conntainer {
    padding: 15px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px  8px #4cc41c;
  }

  .innner-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px  8px #121312;
  }

  .card-body-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px  8px #000000;
  }

  .h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .bg {
    opacity: 0.7;
  }

  .btn {
    align-items: center;
  }

  @keyframes moveRight {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
  }

  .moving-text {
    animation: moveRight 2s ease forwards;
  }

  /* Animasi teks mengetik */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Pengaturan animasi untuk teks mengetik */
.typing-animation {
  overflow: hidden; /* Agar teks yang terlalu panjang tidak muncul di luar kotak */
  animation: typing 5s steps(40, end); /* Ubah durasi dan jumlah langkah sesuai kebutuhan */
  white-space: nowrap; /* Agar teks tidak pindah ke baris baru */
  border-right: .15em solid orange; /* Tanda garis yang menandakan teks mengetik */
}

/* Animasi untuk kartu Kurikulum */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Pengaturan animasi untuk kartu Kurikulum */
.kurikulum-animation {
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
}